@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Leckerli+One&family=Open+Sans:wght@300&family=Oswald:wght@200;300;400;600&family=Playball&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Leckerli+One&family=Lobster&family=Open+Sans:wght@300&family=Oswald:wght@200;300;400;600&family=Playball&family=Raleway:wght@800&display=swap'); 

body{background-color: rgba(214,214,214);}

.navbar .navbar-collapse{flex-grow: 0;}

.navbar{padding: 0; margin: -14px 0;}

.navbar-brand{display: flex;}

.navbar .navbar-brand img{width: 120px;height: 100px;}

.navbar .navbar-brand .brand{
    margin-top: 30px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #274f73;
    font-family: 'Oswald', cursive;
}
.navbar ul

.image{display: flex;justify-content: center;align-items: center;margin-top: 30px;}

.email{display: flex;justify-content: center;}

.log{
    margin-top: 40px;
    width: 500px; height: 450px;
    padding-bottom: 10px;
    border-radius: 9px;
    background-color: rgba(214,214,214);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #fff;
    position: relative;
}

th, td {
    width: 25%;
    text-align: left;
    vertical-align: middle;
}

#billHeader{
    position: absolute;
    width: 100%;
    top: 0;
}

.thead{
    display:table-header-group;
}

#bill{
    position: absolute;
    height: 62%;
    max-height: 300px;
    width: 100%;
    top:100px;
}

#tbody{
    background-color:#ddd;
    position: absolute;
    height: 70%;
    width: 100%;
    overflow-y: scroll;
}

.itemImgSm{
    width: 50px;
    height: 50px;
}

#plus{
    background: none;
    border: none;
}
#plus:hover{
    color: #4dcc68;
}

#minus{
    background: none;
    border: none;
}
#minus:hover{
    color: #cc4d5a;
}

.tfoot{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#billFooter{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#qtyCell {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    right: 50px;
}

.incDec {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    margin-top: -30px;
    width: 20px;
    height: 10px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
}

.itemQty {
    text-align: center;
    vertical-align: middle;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}